/* CSS document */

body {
	background: #f4f4f4;
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #0b172f;
	height: 100vh !important;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #0b172f;
}

h1 {
	font-size: 1em;
	margin: 0;
}

h2 {
	text-align: left;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

h3 {
	margin-bottom: 15px;
	font-size: 1em;
}

p {
	font-size: 0.75em;
	text-align: justify;
	margin: 0px !important;
}

ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none;
}

* {
	box-sizing: border-box;
}

.dropdown.menu {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: bold;
	padding: 40px 20px 0 20px !important;
	transition: .3s ease;
}

.menu {
	background: none;
	position: absolute;
	width: 100%;
}

.menu li {
	margin-right: auto;
	margin-left: auto;
}

.menu a {
	padding: 5px 10px !important;
	border-radius: 50px;
	border: 2px solid white;
}

.menu a:link, a:visited {
	color: white;
	text-decoration: none;
}

.menu a:hover {
	background: #0b172f;
	text-decoration: none;
	transform: scale(1.1);
	transition: .3s ease;
}

label {
	color: #0b172f;
	font-weight: bold;
}

input, textarea, select {
	border: 1px solid #c6857d !important;
}

textarea {
	height: 100px;
}
/* Formatação do website */

/* H E A D E R */

header {
	background: cover;
	background: url(../Images/pexels-photo-1229861.jpeg) no-repeat center center;
	height: 80px;
	font-size: 1.5em;
	text-align: center;
	padding-top: 5px;
}

header h1 {
	font-family: 'Gruppo', cursive;
	color: white;
}

header span#nome-do-site {
	text-align: center;
}

/* M A I N */

main {
	margin-top: 10px;
}

main h2 {
	margin: 0 10px;
	transition: .3s ease;
}

/* labels */

div.labels {
	margin: 10px;
}

label.button {
	background: none;
	color: #0b172f;
	border-radius: 100px;
	border: 2px solid #c6857d;
	padding: 10px;
	margin: 2px;
	margin-top: 10px;
	width: 200px;
	transition: .3s ease;
	font-weight: bold;
}

label .button:hover {
	background: #0b172f;
}

main div#submit {
	margin-top: 10px;
}

main div#submit div.button {
	background: #0b172f;
	width: 100%;
	font-size: 1.5em;
	border-radius: 100px;
	border: 2px solid #c6857d;
	padding: 2px;
	margin: 2px;
	font-weight: bold;
	transition: .3s ease;
}

main div#submit div.button:hover {
	transform: scale(1.02);
}

main div#submit div.button h2 {
	color: white;
	text-align: center;
	margin: 5px;
}

/* F O O T E R */

footer#main-footer {
	margin: 10px 0 0 0;
	background: #0b172f;
	padding: 5px;
	font-size: 0.6em;
	text-align: center;
	color: #fff;
	position: static;
	bottom: 0;
	width: 100%;
}

footer#main-footer ul li {
	display: inline-block;
	margin: 0 10px;
}










/* Keyframes */
@keyframes title-enter {
	0% {
	    opacity: 0;
	    transform: translateY(30px);
	}
	100% {
	    opacity: 1;
	    transform: translateY(0);
	}
}











/* Media Queries for Desktop */

@media screen and (min-width: 640px) {

p {
	font-size: 1em;
}

.dropdown.menu {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: bold;
	padding: 25px 20px 0 20px !important;
}

.menu li {
	margin: 0;
	margin-right: 20px;
}

/* header */

header {
	font-size: 2em;
	padding-top: 15px;
	padding-right: 20%;
	text-align: right;
}

/* main */

main {
	padding: 10px 5px;
	max-width: 800px;
	margin: 0 auto 40px auto;
}

main h2 {
	font-size: 1.5em;
}

/* labels */

div.labels {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 20px;
}

main div#submit {
	margin-top: 60px;
}

/* footer */

footer#main-footer {
	font-size: 0.75em;
	text-align: left;
}

}

@media screen and (min-width: 1024px) {
	
.dropdown.menu {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: bold;
	padding: 25px 20px 0 20px !important;
}

.menu a {
	transition: .3s ease;
}

/* header */

header {
	text-align: center;
	padding-right: 0;
}

/* main */
main {
	padding: 20px 30px;
	max-width: 1300px;
	margin: 0 auto;
}

div.labels {
	max-width: 600px;
	margin-right: auto;
	margin-left: 0;
	padding: 0 20px;
}

}